body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.avatar {
    width: 150px;
    filter: drop-shadow(0px 0px 15px #1a535c);
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #efebce;
    color: #293241;
    border-bottom: 7px solid #ee6c4d;
    border-radius: 15px;
}